<footer>

    <div class="row row-cols-12">

        <div class="contenedor p-3">
    
            <div class="info-footer p-3 col-sm-12 col-md-5">
                <div>
                    <p>Express <span>Notes</span></p>
                </div>
                <div>
                    <p>Es un nuevo sistema de publicación de calificaciones escolares, creado para facilitar tales entregas en estos tiempos de pandemia.</p>
                </div>
            </div>
    
            <div class="social-footer p-3 col-sm-12 col-md-3">
                <div>
                    <p>Redes Sociales</p>
                </div>
                <div>
                    <a href="www.facebook.com" target="_blank" class="mr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="www.instagram.com" target="_blank" class="mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="www.twitter.com" target="_blank" class="mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="www.youtube.com" target="_blank" class="mr-3"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
    
        </div>

    </div>


    <div class="copy mt-3">
        <p>Express Notes Ⓒ 2020</p>
    </div>
</footer>