<nav class="navbar sticky-top navbar-expand-lg py-3 px-4">
    <a class="navbar-brand" routerLink="/">Express <span>Notes</span></a>
    <div id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="dropleft">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" style="position: absolute;">
                    <a (click)="groupJoin()" class="dropdown-item"><i class="fas fa-door-open mr-2"></i>Unirme a un grupo</a>
                    
                    <ng-container *ngIf="permisos">
                        <a (click)="groupCreate()" class="dropdown-item"><i class="fas fa-plus mr-2"></i>Crear un grupo</a>
                    </ng-container>

                    <a (click)="editAccount()" class="dropdown-item"><i class="fas fa-user-edit mr-2"></i>Editar cuenta</a>
                    <a class="dropdown-item" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt mr-2"></i>Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>