<app-nav-v3 [permisos]="permisos"></app-nav-v3>

<div class="contenedor animated fadeIn">

    <div class="login">
        <div class="p-4">
            <div>
                <div class="mb-4 return">
                    <a routerLink="/" class="hvr-icon-back"><i class="fas fa-arrow-left hvr-icon mr-2"></i>Volver a la pantalla principal</a>
                </div>
                <div>
                    <h4 class="titulo my-4">Editar los detalles de su cuenta.</h4>
                </div>
                <div>
                    <form [formGroup]="editAccount">
                        <div class="input-caja mb-4">
                            <input type="text" formControlName="name" name="username" autocomplete="off" class="" placeholder="Nombre">
                        </div>
                        <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -18px; font-size: 14px;" *ngIf="editAccount.get('name')?.errors && editAccount.get('name')?.touched">

                            <p *ngIf="editAccount.get('name')?.hasError('required')">El nombre es un campo requerido.</p>
                            <p *ngIf="editAccount.get('name')?.hasError('minlength')">El nombre no puede tener menos de 4 caracteres.</p>
                            <p *ngIf="editAccount.get('name')?.hasError('maxlength')">El nombre no puede tener mas de 15 caracteres.</p>

                        </div>

                        <div class="input-caja mb-4">
                            <input type="email" formControlName="email" autocomplete="off" name="email" class="" placeholder="Correo electrónico">
                        </div>
                        <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -18px; font-size: 14px;" *ngIf="editAccount.get('email')?.errors && editAccount.get('email')?.touched">

                            <p *ngIf="editAccount.get('email')?.hasError('required')">El email es un campo requerido.</p>
                            <p *ngIf="editAccount.get('email')?.hasError('email')">Este no es un email valido.</p>

                        </div>

                        <div class="input-caja mb-5">
                            <input type="password" formControlName="password" autocomplete="off" name="password" class="" placeholder="Contraseña">
                        </div>
                        <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -45px; font-size: 14px;" *ngIf="editAccount.get('password')?.errors && editAccount.get('password')?.touched">

                            <p *ngIf="editAccount.get('password')?.hasError('required')">La contraseña es un campo requerido.</p>
                            <p *ngIf="editAccount.get('password')?.hasError('minlength')">La contraseña no puede tener menos de 6 caracteres.</p>
                            <p *ngIf="editAccount.get('password')?.hasError('maxlength')">La contraseña no puede tener mas de 20 caracteres.</p>

                        </div>

                        <button type="submit" [disabled]="editAccount.invalid" class="btn p-3 btn-block hvr-grow-shadow"><i class="hvr-icon fas fa-user-edit mr-2"></i>Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>