nav {
    background-color: #fff;
    border-bottom: 2px solid rgb(2, 120, 174, .490);

    a {
        color: #e8654a;
        font-family: 'Fredoka One', cursive;

        span {
            color: #0278ae;
        }
    }

    button {
        color: #e8654a;
        outline: none;
    }

    div {

        a {
            cursor: pointer;
            font-family: 'Fredoka One', cursive;
        }

        a:nth-child(1) {
            color: #0278ae;
            background-color: rgb(74, 182, 232, .300);
        }

        a:nth-child(2) {
            color: #fff;
            background-color: #0278ae;
        }
    }
    
    .hvr-icon-back {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
    }
    .hvr-icon-back .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}