.without-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    position: fixed;


    div {
        text-align: center;

        i {
            font-size: 90px;
            color: rgba(57, 62, 70, 0.230);
        }

        div {

            p:nth-child(1) {
                font-size: 18px;
                margin-bottom: 8px;
                font-family: 'Open Sans', sans-serif;
                color: rgba(57, 62, 70, 0.230);
            }

            p:nth-child(2) {
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                color: rgba(57, 62, 70, 0.230);
            }
        }
    }
}

.carta {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 3px 18px 0 rgba(31, 38, 135, 0.247);
    
    .card-header {
        background-color: transparent;
        border: none;
        
        
        a {
            color: #393e46;
            text-decoration: none;
        }

        .dropleft {

            .dropdown-menu {
                border-radius: 10px;
                background: rgb(255, 255, 255);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.103);
                backdrop-filter: blur( 8.5px );
                -webkit-backdrop-filter: blur( 8.5px );
                //border: none;
                border-radius: 5px;
            
                
                .dropdown-item {
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                }

                .dropdown-item:active {
                    background-color: #f8f9fa;
                }
            }
        }

        .dropleft button {
            border: none;
            background-color: transparent;
            outline: none;
            color: #393e46;
        }
    }

    .card-body {

        h3 {
            color: #393e46;
            font-family: 'Fredoka One', cursive;
        }

        span {
            font-family: 'Open Sans', sans-serif;
            color: #393e46d3;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            color: #393e46;

            a {
                color: #393e46;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .row {
            font-family: 'Open Sans', sans-serif;
            color: #393e46d3;
        }
    }
}